# These are only for the Python interoperability tests.
#
# None of the versions chosen are special,
# we are just freezing dependencies so other people doing stuff doesn't break our CI.
attrs==21.2.0
magic-wormhole==0.12.0
twisted==22.4.0
pynacl==1.4.0
spake2==0.8
